Repository marcus-sa/enterprise-fullstack-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn bazel:format, eslint --fix, prettier --write, circleci config validate

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

chore(deps): update bazel_toolchains commit hash to f2709de
  WORKSPACE
Due: yarn bazel:format

chore(deps): update rules_proto commit hash to 2c04683
  WORKSPACE
Due: yarn bazel:format

chore(deps): update rules_typescript_proto commit hash to 0ae5d5a
  WORKSPACE
Due: yarn bazel:format

chore(deps): update dependency @types/jest to v24.0.23
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency rollup to v1.27.12
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update apollo graphql packages
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency apollo-client to v2.6.8
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @babel/preset-modules to v0.1.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-plugin-prettier to v3.1.2
  package.json
  yarn.lock
Due: prettier --write

chore(): add .bazelrc
  .bazelrc
Due: none

fix(): add prisma patches to allow schema path flag in cli
  patches/prisma2+2.0.0-preview018.2.patch
Due: none

chore(bazel): export tsconfig
  BUILD
Due: yarn bazel:format

feat(bazeæ): add initial prisma rules
  tools/BUILD
  tools/js_sources.bzl
  tools/prisma/BUILD
  tools/prisma/datamodel.bzl
  tools/prisma/datamodel_test.bzl
  tools/prisma/datasource.bzl
  tools/prisma/datasource_test.bzl
  tools/prisma/example/BUILD
  tools/prisma/example/index.ts
  tools/prisma/example/post.prisma
  tools/prisma/example/user.prisma
  tools/prisma/generator.bzl
  tools/prisma/generator_test.bzl
  tools/prisma/index.bzl
  tools/prisma/lift.bzl
  tools/prisma/lift_test.bzl
  tools/prisma/photon.bzl
  tools/prisma/photon_test.bzl
  tools/prisma/providers.bzl
  tools/prisma2/BUILD
  tools/prisma2/photon.bzl
Due: yarn bazel:format, eslint --fix

chore(deps): add deps
  WORKSPACE
  package.json
  yarn.lock
Due: yarn bazel:format, prettier --write

chore(): cleanup eslint config
  .eslintrc
Due: none

chore(): add readme
  README.md
Due: none

fix(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency rollup to v1.27.13
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to v12.12.18
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v2.12.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency terser to v4.4.3
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency apollo-server-express to v2.9.14
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update nest monorepo to v6.10.12
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update babel monorepo to v7.7.7
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update commitlint monorepo
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @ngneat/spectator to v4.11.1
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update angularmaterial monorepo to v9.2.4
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency apollo-server-express to v2.14.2 [security]
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency graphql to v14.7.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency typescript to v3.9.7
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency class-transformer to v0.3.1 [security]
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @babel/preset-modules to v0.1.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency cz-conventional-changelog to v3.3.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency jest-cli to v25.5.4
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency type-graphql to v0.17.6 [security]
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @bazel/ibazel to v0.14.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-config-prettier to v6.15.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency io_bazel_rules_docker to v0.15.0
  WORKSPACE
Due: yarn bazel:format

chore(deps): update babel monorepo
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  yarn bazel:format: ((any of: **/BUILD) or (any of: *.bzl)) or (any of: WORKSPACE)
  eslint --fix: any of: *.{js,ts}
  prettier --write: any of: *.{json,less,html,yaml,yml}
  circleci config validate: any of: .circleci/config.yml
